body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.border-frame {
    position: absolute;
    width: 98vw;
    height: 98vh;
    border: 20px solid black; /* Толстая черная рамка */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 80%;
    position: relative;
    z-index: 1;
}

video {
    width: 60%;
    border: 3px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

/* Глаза на рамке */
.eyes-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer
